In [1]:
import numpy as np
import pandas as pd

## 1. Вычисления с помощью NumPy

#### __Задание 1__
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [2]:
a = np.array(
    [[1,2,3,3,1],
    [6,8,11,10,7]]
).T
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [3]:
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

#### __Задание 2__
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [4]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

In [5]:
a_centered[0].T

array([-1. , -2.4])

#### __Задание 3__
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [6]:
a_centered_sp = a_centered[0,0]*a_centered[0,1]+a_centered[1,0]*a_centered[1,1]+a_centered[2,0]*a_centered[2,1]+a_centered[3,0]*a_centered[3,1]+a_centered[4,0]*a_centered[4,1]
a_centered_sp

8.0

In [7]:
a_centered_sp / 4

2.0

#### __Задание 4**__
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.


В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [8]:
a_cov = np.cov(a.T)
a_cov

array([[1. , 2. ],
       [2. , 4.3]])

In [9]:
a_cov[0,1] == a_centered_sp / 4

True

## Работа с данными в Pandas

#### __Задание 1__
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [10]:
authors = pd.DataFrame(
    np.array([
        [1,2,3], 
        ['Тургенев', 'Чехов', 'Островский']
    ]).transpose(), 
    columns=['author_id', 'author_name'])

In [11]:
book = pd.DataFrame(
    np.array([
        [1,1,1,2,2,3,3], 
        ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
        [450, 300, 350, 500, 450, 370, 290]
    ]).transpose(), 
    columns=['author_id', 'book_title', 'price'])
book

  author_id            book_title price
0         1           Отцы и дети   450
1         1                 Рудин   300
2         1     Дворянское гнездо   350
3         2      Толстый и тонкий   500
4         2       Дама с собачкой   450
5         3                 Гроза   370
6         3  Таланты и поклонники   290

#### __Задание 2__
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [12]:
authors_price = pd.merge(authors, book, how='inner', on='author_id')
authors_price

  author_id author_name            book_title price
0         1    Тургенев           Отцы и дети   450
1         1    Тургенев                 Рудин   300
2         1    Тургенев     Дворянское гнездо   350
3         2       Чехов      Толстый и тонкий   500
4         2       Чехов       Дама с собачкой   450
5         3  Островский                 Гроза   370
6         3  Островский  Таланты и поклонники   290

#### __Задание 3__
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [13]:
top5 = authors_price.copy().sort_values(by=['price'], ascending=False).head(5)
top5

  author_id author_name         book_title price
3         2       Чехов   Толстый и тонкий   500
0         1    Тургенев        Отцы и дети   450
4         2       Чехов    Дама с собачкой   450
5         3  Островский              Гроза   370
2         1    Тургенев  Дворянское гнездо   350

#### __Задание 4__
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [14]:
authors_stat = authors_price.copy()
authors_stat['price'] = pd.to_numeric(authors_stat['price'])

In [15]:
authors_stat = authors_stat.groupby('author_name').agg({'price': ['min', 'max', 'mean']})

In [16]:
authors_stat

            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000

#### __Задание 5**__
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].


Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [17]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['price'] = pd.to_numeric(authors_price['price'])

In [18]:
book_info = authors_price.pivot_table(
    'price',
    index='author_name',
    aggfunc='sum',
    columns='cover',

)

In [19]:
book_info.fillna(0)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [20]:
book_to_pickle = book_info.to_pickle('book_info.pkl')

In [21]:
book_info2 = pd.read_pickle('book_info.pkl')

In [22]:
comparison = book_info.compare(book_info2, keep_equal=True, keep_shape=True)

In [23]:
comparison.fillna(0)

cover       мягкая        твердая
              self  other    self  other
author_name
Островский   660.0  660.0     0.0    0.0
Тургенев     650.0  650.0   450.0  450.0
Чехов          0.0    0.0   950.0  950.0